<div class="sidebar">
  <div class="side-bar-block">
    <h2 class="heading-4">BlibT<br></h2>
    <div class="text-block-4">admin panel</div>
    <ul role="list" class="list w-list-unstyled">
      <li>
        <div class="div-block-36">
          <div class="database-list-label">Database</div>
          <ul role="list" class="list-2 w-list-unstyled">
            <li>
              <div class="option-text">Books</div>
            </li>
            <li>
              <div class="option-text">Authors</div>
            </li>
            <li>
              <div class="option-text">Genres</div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="option-text">Option </div>
      </li>
      <li>
        <div class="option-text">Option </div>
      </li>
    </ul>
  </div>
</div>
