<div class="sidebar">
  <div class="side-bar-block">
    <h2 class="heading-4">BlibT<br></h2>
    <div class="text-block-4">admin panel</div>
    <ul role="list" class="list w-list-unstyled">
      <li>
        <div class="div-block-36">
          <div class="database-list-label">Database</div>
          <ul role="list" class="list-2 w-list-unstyled">
            <li>
              <a routerLink="books" class="option-text">Books</a>
            </li>
            <li>
              <a routerLink="authors" class="option-text">Authors</a>
            </li>
            <li>
              <a routerLink="genres" class="option-text">Genres</a>
            </li>
            <li>
              <a routerLink="transactions" class="option-text">Transactions</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a routerLink="/" class="option-text">Back </a>
      </li>
    </ul>
  </div>
</div>
