<div class="wrapper">
  <div class="div-block-33">
    <h1 class="heading-3">List of transactions</h1>
  </div>
  <div class="w-layout-grid grid-3">
    <div class="w-layout-grid table-header">
      <div>User email</div>
      <div>Sum</div>
      <div>Date</div>
    </div>
    <div class="w-layout-grid grid-2" *ngFor="let transaction of transactions">
      <div class="text-block-7">{{transaction.userEmail}}</div>
      <div class="text-block-7">{{transaction.sum}}</div>
      <div class="text-block-7">{{transaction.dateTime | date : 'short'}}</div>
    </div>
  </div>
</div>
