<div [ngStyle]="{ 'display': modalService.modalFormVisible ? 'flex' : 'none' }"
     class="modalwrapper">
  <div class="modalform">
    <h1 class="heading">Book Create</h1>
    <div class="form-block w-form">
      <form id="email-form" name="email-form" class="form"
            (ngSubmit)="onFormSubmit()" [formGroup]="bookForm">
        <div class="div-block-38">
          <div class="div-block-41">
            <label for="name-3" class="field-label">Name</label>
            <input [(ngModel)]="book.title" class="text-field w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" type="text" id="name-2" formControlName="title" NgModal>
            <div *ngIf="bookForm.get('title')?.invalid &&  bookForm.get('title')?.touched">
              <div class="text-danger">Title is required</div>
              <div class="text-danger">Title can't exceed 256 characters</div>
            </div>
          </div>
          <div>
            <label for="email" class="field-label">Author</label>
            <select id="field-2" name="field-2" data-name="Field 2" required="" class="select-field w-select" formControlName="authorId" [(ngModel)]="book.authorId">
              <option *ngFor="let author of authors" [value]="author.id" NgModal>{{author.fullName}}</option>
            </select>
            <div *ngIf="bookForm.get('author')?.invalid &&  bookForm.get('author')?.touched">
              <div class="text-danger">Title is required</div>
            </div>
          </div>
        </div>
        <label for="field-5" class="field-label">Description</label>
        <textarea placeholder="Example Text"id="field-3" name="field-3" data-name="Field 3" class="textarea w-input" formControlName="description" NgModal [(ngModel)]="book.description"></textarea>
        <div class="div-block-37">
          <mat-selection-list class="list-3" formControlName="genres">
            <mat-list-option *ngFor="let genre of genres" [value]="genre.id">
              {{ genre.name }}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <label for="imageFile" class="form-label">image</label>
        <input type="file" (change)="onChange($event)" class="form-control" NgModal>
        <div class="buttons-div" >
          <input [class.disabled]="bookForm.invalid" [disabled]="bookForm.invalid" type="submit" data-wait="Please wait..." class="submit-button w-button" value="Submit"><a href="#" class="button cancel w-button">Cancel</a>
        </div>
      </form>
      <div (click)="closeModal()" data-w-id="df755c4f-036d-d0dd-5173-1eeb3b7f336d" class="text-block-6">X</div>
    </div>

  </div>
  <div class="modalbg"></div>
</div>
