<section class="section-5">
  <div class="div-block-42">
    <div class="modalform">
      <h1 class="heading">Login</h1>
      <div class="form-block w-form">
        <form class="form" [formGroup]= "loginForm" (ngSubmit)="onSubmit()">
          <div class="form-field-div">
            <label for="name-2" class="field-label">E-mail</label>
            <input class="text-field w-input" name="email" formControlName="email" type="email">
          </div>
          <div class="form-field-div">
            <label for="name-2" class="field-label">Password</label>
            <input class="text-field w-input" name="password" formControlName="password" type="password">
          </div>
          <label for="name-3" class="redirect-text">Don&#x27;t you have an account?</label>
          <label routerLink="/registration"  class="redirect-text link">create new one</label>
          <div class="buttons-div">
            <input type="submit" class="submit-button w-button" value="Submit">
            <a routerLink="/"  class="button cancel w-button">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
